*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.header{
    background: pink;
    color:black;
    position:absolute;
    display:flex;
}
body{
    background-image: url("IMAGES PROJ1/irctc.jpg");
    background-color: white;
    width:100vh;
    background-image: no-repeat;
    background-size: cover;
    
}
#ticket_cont{
    border:1px solid;
    height: 500px;
    width: 400px;
    padding: 15px;
    text-align: center;
    background-color:rgb(105, 36, 36);
    color:white;
    justify-content:center;
    box-shadow:10px 20px 30px lightblue;
    margin:100px
}
#ticket_cont h1{
    margin:10px;
}
#ticket_cont input{
    margin:10px ;
    padding:5px;
    width:300px;
    border-radius:10px;
}
.btn button{
    margin:15px;
    border-radius:10px;
    padding:5px;
    background-color:greenyellow;
    color:white;

}
.btn button:hover{
    background:yellow;
}
