*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.nav{
    background-color:lightgreen;
}
header{
    position:absolute;
    width:10px auto 0;
    top:0px;
    z-index:1;
}
body{
    height:400px;
}
#Home{
    height:400px;
    width:80%;
    border:1px solid black;
    margin:auto;
    position:relative;
    top:100px;
}
#Home img{
    height:450px;
    width:100%;
}
#Features{
    position:relative;
    top:80px;
    width:90vw;
    margin:200px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
#contact_Us{
   text-align:center;
   height:70vh;
}
.button{
    background-color:greenyellow;
    padding:5px;
    border:none;
    border-radius:5px;
    color:white;
    margin-bottom: 5px;
    justify-content: center;
    
}
.contact_text{
    border:1px solid black;
    color:rgb(222, 83, 106);
    font-size:25px;
    width:350px;
    margin:40px auto;
    border-radius:10px;
    font-weight:bold;


}
.contactform{
    display:flex;
    height:500px;
}
.contactform form{
    width:50%;
    padding:20px;
     margin:100px;
    border:1px solid black;
    border-radius:10px;
    height:350px;
    background-color: white;
       
}
.contactform form label{
    color:black;
}
.contact_text{
    text-align: center;
    height: 500px;
    display: flex;
    align-items: center;
    color:white;
    background-color: rgb(18, 15, 15);
    width:500px;
    margin-top: 10px;

}
.form_count{
    background-color:rgb(169, 164, 164);
    height:520px;
    width:50%;
    border: rgb(184, 178, 178);
    margin-left: 10px;
    
}
footer{
position: relative;
top:200px;
height: 10vh;
background-color: rgb(46, 45, 45);
text-align:center;
font-weight: bold;
}

footer p{
color:white;
}







