*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.nav{
    background-color:lightgreen;
}
header{
    position:fixed;
    width:100vh;
    top:0px;
    z-index:1;
    background: rgb(111, 155, 44);    
}
body{
    background: linear-gradient(greenyellow,rgb(225, 35, 165));
    width:100vh;
    align-items: center;
    justify-content:center;
    display:flex;
    
}
.app{
    background:white;
    width:90%;
    max-width:600px;
    margin:100px ;
    align-items: center;
    justify-content:center;
    border-radius:10px;
    padding:30px;
    display:auto;
    box-shadow: 15px 15px 15px orangered;
    position:relative;
}
.app h1{
    font-size: 25px;
    color:rgb(45, 49, 241);
    border-bottom: 1px solid;
    padding-bottom:30px;
}
.quiz{
    padding:20px;
}
.quiz h2{
    font-size:20px;
    color:rgb(57, 5, 99);
    font-weight:600px;
}
.btn{
    background:white; 
    color:rgb(168, 41, 62);
    font-weight:500px;
    width:100%;
    border:1px solid black;
    padding:10px;
    margin:10px ;
    text-align:left;
    border-radius:5px;
    cursor:pointer;
}
.btn:hover:not([disabled]){
    background:rgb(61, 227, 178);
    color:white;
}
.btn:disabled{
    cursor:no-drop;
}
#pre-btn{
    background:rgb(151, 38, 169);
    color:white;
    font-weight:500px;
    width:150px;
    border:0;
    padding:10px;
    margin:20px auto;
    border-radius:4px;
    cursor:pointer;
    display:fixed;
}
#next-btn{
    background:rgb(151, 38, 169);
    color:white;
    font-weight:500px;
    width:150px;
    border:0;
    padding:10px;
    margin:20px auto;
    border-radius:4px;
    cursor:pointer;
    display:fixed;
}
.correct{
  background:green;
}
.incorrect{
    background:red;
}