*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    background-image: linear-gradient(to bottom,rgb(5, 5, 128),rgb(6, 6, 119));
    
}
#registration_form_cont{
    background-color: rgb(3, 3, 39);
    margin: 10px;
    color:white;
    padding:15px;
    text-align: center;
    height:500px;
    width:400px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow:10px 20px 30px lightblue;
}
.input_element input{
   font-weight:400;
   margin:5px;
   padding:10px;
   width:300px;
   border-radius:5px;
   border-style:solid;
   justify-content:center;
   text-align:center;
   font-family:'Raleway', sans-serif;
}
.context{
    font-size: 0.6em;
    font-weight: normal;
    color:rgb(191, 168, 168);
    margin:10px;
    font-family:  Georgia, Times New Roman, serif;
    padding:10px;
    justify-content:space-between;
    text-align:start;
}
.context input{
    margin: 5px;
}
.register_butn{
    display:flex;
    justify-content: end;
    margin: 10px;
}
.register_butn button{
    background-color: green;
    color:white;
    font-size: 15px;
    padding:10px;
    border-radius: 5px;
    border-style: solid;
}
.register_butn button:hover{
   background-color:rgb(242, 113, 135);
}