*{
    margin:0px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-photo/guy-shows-document-girl-group-young-freelancers-office-have-conversation-working_146671-13569.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}
#register{
    background-color: white;
    color:rgb(28, 23, 23);
    padding: 10px;
    height:700px;
    width: 600px;
    border:1px white;
    border-radius: 9px;
    box-shadow: 12px 20px 30px rgb(95, 95, 115);

}
.input_element input,select{
    margin:10px;
    padding: 8px;
   width: 300px;
   border-radius: 5px;
   border-style:none;
   border-bottom: 1px solid rgb(143, 140, 140);
  
   
}
.context{
    font-size: 0.7em;
    font-weight: normal;
    color:rgb(53, 49, 49);
    margin:10px;
    font-family:  Georgia, Times New Roman, serif;
    justify-content:space-between;
    text-align:start;
}
.term{
    color:rgb(170, 8, 106);
    border-bottom:1px solid rgb(199, 12, 161);
}
.context input{
    margin: 5px;
}
.register_butn{
    display:flex;
    margin: 10px;
}
.register_butn button{
    background-color:blue;
    color:white;
    font-size: 15px;
    padding:10px;
    border-radius: 5px;
    border-style: none;
}
.register_butn button:hover{
   background-color:lightblue;
}

