*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:rgb(44, 44, 43);
    color:white;
}
#header{
    width:100%;
    height:100vh;
    /* background-image:url(images/damupic2.png); */
    background-size: cover;
    background-position: top;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.container1 ul{
    overflow:hidden;
    background-color:rgb(163, 161, 158);
    position:fixed;
    top:0;
    width:100%;
}
.container1 li a{
   float:left;
   display:block;
   color:white;
   text-align:center;
   
   text-decoration:none;
   font-size:25px;
}
.container1 li a:hover{
    background:gray;
    color:black;
}
.header-text img{
    border: 1px solid rgb(231, 231, 245);
    float:right;
    border-radius: 15px;
    width:25%;
    /* scroll-margin-block: auto; */
    margin-right:450px;
}
.damulogo{
    width:140px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background: rgb(248, 98, 123);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top:20px;
    font-size:30px;
    color:rgb(238, 39, 139);
}
.header-text h1{
    font-size:40px;
    margin-top:20px;
    color:orange;
}
.header-text h1 span{
    color:blueviolet;
}
/*about*/
#about{
    padding:80px;
    color:gray;
}
.row{
   display:flex;
   justify-content: space-between; 
   flex-wrap:wrap;
}
.about-col-1{
    flex-basis: 25%;
}
.about-col-1 img{
    width:100%;
    border-radius:15px;
}
.about-col-2 p{
    font-size:15px;
    color:aqua;
}
.tab-titles p{
    color:rgb(214, 241, 80);
}
.about-col-2{
    flex-basis: 65%;
}
.sub-title{
    font-size:50px;
    font-weight:500;
    color:white;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right:50px;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:rgb(244, 24, 126);
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.6s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
    color:white;
    font-size:15px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
/*services*/
#services{
    padding:30px;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{
   background:rgb(220, 150, 236);
   padding:50px;
   font-size:20px; 
   font-weight:500;
   border-right:10px;
   transition:background 0.5s,transform 0.5s;
}
.services-list a{
    color:rgb(152, 245, 245);
    text-decoration: none;
    font-size: 20px;
    margin-top:20px;
    display:inline-block
}
.services-list h2{
    color:brown;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list i{
    font-size:50px;
    margin-bottom: 30px;
}
.services-list div:hover{
   background:rgb(235, 68, 68);
   transform:translateY(-10px);
}
/*portfolio*/
#portfolio{
    padding:50px 0;
}
.work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.work{
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition:transform 0.5s;
    
}
.work-layer{
    width:100%;
    height:0;
    border-radius:10px;
    background:linear-gradient(rgb(247, 243, 243),pink);
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
    transition:height;
}
.work-layer h3 {
    font-weight:500;
    margin-bottom:20px;
    color:brown
} 
.work-layer p {
    font-weight:500;
    margin-bottom:20px;
    color:brown
}
.work-layer a{
    color:rgb(244, 75, 75);
    margin-top:20px;
    text-decoration:none;
    font-size:30px;
    line-height:60px;
    background: white;
    height:60px;
    width:60px;
    border-radius:50%;
    text-align:center;
}
.work:hover img{
    transform:scale(1.1);
}
.work:hover .work-layer{
    height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:2px solid rgb(244, 244, 252);
    padding:15px 50px;
    border-radius:6px;
    text-decoration:none;
    color:white;
    font-size: 20px;
    transition:background 0.5s;
}
.btn:hover{
    background:greenyellow;
}
/* contact */
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
     margin-top: 30px;
     font-size: 20px;
}
.contact-left p i{
    color:rgb(245, 78, 52);
    margin-right: 15px;
    font-size: 30px;
}
.icons{
    margin-top: 25px;
}
.icons i{
    font-size:30px;
    color:white;
    background: rgb(243, 94, 119);
    margin-right:20px;
    display:inline-block;
    transition: transform 0.5s;
}
.icons i:hover{
    color:greenyellow;
    transform:translate(-3px);
}
.btn.btn1{
    display:inline-block;  
    background:rgb(247, 55, 225);
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:90%;
    border:0;
    outline:none;
    background:pink;
    color:rgb(12, 12, 12);
    margin:15px 0;    
    font-size:20px;
    border-radius:6px;
    padding:10px;
}
form .btn.btn1{
    padding:14px 60px;
    font-size:20px;
    cursor:pointer;
    margin-top:10px;
}
.copyright{
    width:100%;
    text-align:center;
    padding:20px;
    background:greenyellow;
    font-weight:300;
    margin-top:20px;
    font-size: 30px;
}
/* small screen

@media only screen and (max-width:600px){
 #header{
    background-image:url(images/damupic2.png);
 } 
 .header-text{
   margin-top: 100%;
   font-size:16px;
 }  
 .header-text h1{
    font-size:30px;
 }
 nav i.fas{
    display:block;
    font-size:55px;
 }
 nav ul{
    background:green;
    position:fixed;
    top:0;
    right:0;
    width:200px;
    height:100vh;
    padding-top:50px;
 }
 nav ul li{
    display:block;
 }
} */